body {
  margin: 0;
  font-family: 'Comic Sans MS', 'Arial Rounded MT Bold', sans-serif;
  background: linear-gradient(180deg, #ffeaa7, #74b9ff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LIBRO */
.book {
  width: 85%;
  max-width: 750px;
  height: 480px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

/* PÁGINAS */
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  text-align: center;
  font-size: 20px;

  /* ANIMACIÓN */
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.6s ease;
}

/* PÁGINA ACTUAL */
.page.active {
  transform: translateX(0);
  opacity: 1;
  z-index: 2;
}

/* PÁGINA QUE SE VA */
.page.exit-left {
  transform: translateX(-100%);
  opacity: 0;
}

.page.exit-right {
  transform: translateX(100%);
  opacity: 0;
}

/* TITULOS */
h1 { color: #e17055; }
h2, h3 { color: #0984e3; }

/* BOTONES */
.controls {
  margin: 15px;
}

button {
  font-size: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 15px;
  background: #fd79a8;
  color: white;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

/* INDICADOR DE PÁGINA */
.counter {
  font-size: 16px;
  margin-top: 5px;
  color: #2d3436;
}

/* IMAGEN FINAL */
.final-img {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}
