body{
  margin:0;
  font-family:'Comic Sans MS', sans-serif;
  background: linear-gradient(#a8e6ff, #fff3cd);
  text-align:center;
}

/* TITULO */
.titulo{
  margin-top:15px;
  color:#ff7a00;
}

/* LIBRO */
.book{
  width:340px;
  height:480px;
  margin:20px auto;
  perspective:1000px;
  position:relative;
}

/* TARJETA */
.card{
  width:100%;
  height:100%;
  position:absolute;
  display:none;
}

.card.active{
  display:block;
}

/* INTERIOR 3D */
.card-inner{
  width:100%;
  height:100%;
  position:relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

/* GIRO */
.card.flipped .card-inner{
  transform: rotateY(180deg);
}

/* CARAS */
.card-front,
.card-back{
  position:absolute;
  width:100%;
  height:100%;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
  backface-visibility:hidden;
  background:white;
}

/* FRENTE (imagen arriba) */
.card-front img{
  width:100%;
  height:65%;
  object-fit:cover;
}

.card-front .hint{
  font-size:14px;
  margin-top:10px;
  color:#636e72;
}

/* REVERSO (texto) */
.card-back{
  transform: rotateY(180deg);
  padding:20px;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.card-back h2{
  color:#ff7a00;
  margin-bottom:10px;
}

/* BOTONES */
.controls{
  margin-top:10px;
}

button{
  background:#ff7a00;
  color:white;
  border:none;
  padding:12px 20px;
  margin:5px;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:#ff5500;
}
